:root {
    --primary-color: #333446;       
    --accent-color: #5A6A7F;        
    --background-light: #FFFFFF;    
    --text-dark: #333333;          
    --border-color: #E0E0E0;      
    --shadow-color: rgba(0, 0, 0, 0.08); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--background-light);
    color: var(--text-dark);
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    color: var(--text-dark);
}

.highlight {
    color: var(--primary-color);
    font-weight: 700;
}


header {
    background: var(--background-light);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--border-color); /* Garis pemisah tipis */
}

header .container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin: 10px;

}

header h1 {
    font-size: 1.6em;
    color:0F0E0E;
    font-weight: 700;
    margin: 0;
}


.hero {
    padding: 80px 0;
    min-height: 80vh;
    display: flex;
    align-items: center;
    background-color: var(--background-light);
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    gap: 70px; 
}

.hero-info {
    flex: 1; 
    max-width: 70%;
}

.hero-photo {
    flex: 1; 
    display: flex;
    justify-content: flex-end; 
}

.profile-img {
    width: 280px; 
    height: 280px;
    background-color: var(--border-color); /* Placeholder */
    border-radius: 50%; /* Foto Bulat */
    object-fit: cover;
    border: 5px solid var(--border-color); 
    box-shadow: 0 10px 20px var(--shadow-color);
}

.hero-info h2 {
    font-size: 2.8em;
    color: var(--text-dark);
    margin-bottom: 5px;
    margin-top: 0px;
}

.hero-info .subtitle {
    font-size: 1.2em;
    color: var(--accent-color);
    margin-bottom: 0px;
    font-weight: 400;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 1.1em;
}

.skills-list li {
    margin-bottom: 8px;
    color: var(--text-dark);
}

.btn {
    display: inline-block;
    background: #E9E9E9;
    color: #333333;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
    margin-top: 20px;
}

.btn:hover {
    background: #7A7A73;
}


section {
    padding: 80px 0;
    text-align: left;
    border-top: 1px solid var(--border-color);
}

section:nth-child(even) { 
    background: #F8F9FA;
}


section h3 {
    font-size: 2em;
    margin-bottom: 40px;
    color: var(--text-dark); 
    border-left: 4px solid var(--text-dark); 
    padding-left: 15px;
}

.project-card {
    border: 1px solid var(--border-color);
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 6px;
    transition: box-shadow 0.3s;
    background-color: var(--background-light);
}

.project-card:hover {
    box-shadow: 0 5px 15px var(--shadow-color);
}

.project-card h4 {
    color: var(--text-dark);
    font-size: 1.3em;
    margin-bottom: 5px;
}

.tag {
    display: inline-block;
    background: #F8F9FA;
    color: var(--accent-color);
    font-size: 0.8em;
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
}


footer {
    background: #F8F9FA; 
    color: var(--accent-color);
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
    border-top: 1px solid var(--border-color);
}



@media (max-width: 768px) {
    .hero .container {
        flex-direction: column; 
        text-align: center;
    }

    .hero-photo {
        order: -1; 
        margin-bottom: 30px;
        justify-content: center;
    }

    .hero-info {
        max-width: 100%;
    }

    .profile-img {
        width: 200px;
        height: 200px;
    }
}